#about0
{
	font-family: 'Quicksand', sans-serif;
	width: 100%;
	height: auto;
	color: black;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #f5fff5;
}
#dev0
{
	background: url(imgs/radiant0.jpg) no-repeat center;
	background-size: auto 100%;
}
#dev1
{
	position: absolute;
	z-index: 6;
	color:white;
	font-size: 30px;
	top: 10%;
	left:5%;
	width: 60%;
}
#dev2
{
	background: url(imgs/fow.jpg) no-repeat center;
	background-size: auto 100%;
}
#dev3
{
	background-size: 100% 100%;
}
#prog0
{
	background: url(imgs/world.jpg) no-repeat center;
	background-size: auto 100%;
}
#prog1
{
	position: absolute;
	font-size: 40px;
	top: 20%;
	left: 15%;
	width: 80%;
	z-index: 6;
	color:black;
}
#prog2
{
	background: url(imgs/grid.jpg) no-repeat center;
	background-size: auto 100%;
}
#cc0
{
	background: url(imgs/poly.png) no-repeat center;
	background-size: auto 100%;
}
#cc1
{
	background: url(imgs/Ruin219nbg.png) no-repeat;
	background-size: auto 100%;
	background-position: 90% 100%; 
	background-color: black;
}
#cc2
{
	background: url(imgs/jadekitty.png) no-repeat center;
	background-size: auto 100%;
}
#cc3
{
	background: url(imgs/rgb.jpg) no-repeat center;
	size: 100% 100%;
}
.paraTrigger
{
	position: absolute;
	width: 40%;
	left: 30%;
	height: 60%;
	top: 20%;
	z-index: 9;
}
.hoverPara
{
	position: absolute;
	z-index: 8;
	padding: 40px 80px 40px 80px;
	color:white;
	font-size: 30px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	-webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    pointer-events: none;
}
.paraTrigger:hover + .hoverPara
{
	opacity: 1;
}