h1 {
	font-size: 350%;
}
body {
	background: #121821;
	margin-right: 20%; 
   	margin-left: 20%; 
}
::selection {
  background: #00adb5; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #00adb5; /* Gecko Browsers */
}
#top {
	font-family: 'Quicksand', sans-serif;
	background: 
	linear-gradient(
      rgba(1, 1, 1, 0.5), 
      rgba(1, 1, 1, 0.5)
    ),
    url(imgs/poly.png) no-repeat fixed center;
    background-size: auto 100%;
	width: 100%;
	height: calc(100vh - 70px);
	background-color: black;
	color: white;
}
#profilePic {
	position: absolute;
   	top: 40%;
   	left: 50%;
	width: 30vmin;
	margin-top: -15vmin; 
   	margin-left: -15vmin; 
}
#name {
	position: absolute;
   	top: 70%;
   	left: 50%;
	width: 30vmin;
	margin-top: -15vmin; 
   	margin-left: -15vmin; 
}
.customSlide {
	width: 100%;
	height: 60vh;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	z-index: 5;
	background-size: cover;
	background-repeat: no-repeat;
}
.slideText {
	position: absolute; 
	bottom: 10%;
	left: 11%;
	font-size: 30px;
	text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
.l0 {
	font-family: 'Quicksand', sans-serif;
	font-size: 225%;
	letter-spacing: 5px;
	padding: 7px 0px 0px 12px;
	z-index: 50;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	line-height: 25px;
}
.l1 {
	z-index: 40;
}
.l2 {
	z-index: 30;
}
.headerPlaceholder {
	width: 100%;
	height: 72px;
	z-index: 0;
	background-color: #00adb5;
}
#header0 {
	color: #393e46;
	position: absolute;
	top: 0vh;
	left: 20%;
	width: 20%;
	height: 72px;
	background: #00adb5;
}
#header1 {
	color: #00adb5;
	position: absolute;
	top: 0vh;
	left: 40%;
	width: 20%;
	height: 72px;
	background: #393e46;

}
#header2 {
	color: #393e46;
	position: absolute;
	top: 0vh;
	left: 60%;
	width: 20%;
	height: 72px;
	background: #00adb5;
}
#h0p0 {
	position: absolute;
	top: 0vh;
	left: 40%;
	width: 40%;
	height: 72px;
	background: #00adb5;
}
#h0p1 {
	position: absolute;
	top: 0vh;
	left: 40%;
	width: 40%;
	height: 72px;
	background: #393e46;
}
#h1p0 {
	position: absolute;
	top: 0vh;
	left: 20%;
	width: 20%;
	height: 72px;
	background: #393e46;
}
#h1p1 {
	position: absolute;
	top: 0vh;
	left: 20%;
	width: 40%;
	height: 72px;
	background: #00adb5;
}
#test {
	width:100%;
	height:100vh;
}
#bot {
	color: #393e46;
	background: #393e46;
	margin-top: -20px;
	padding-top: 50px;
	height: 45vh;
}
#carousel1 {
	background-color: black;
	font-family: 'Quicksand', sans-serif;
}
#carousel2 {
	background-color: black;
	font-family: 'Quicksand', sans-serif;
}
#carousel3 {
	background-color: black;
	font-family: 'Caveat', cursive;
}
#kittens {
	color: white;
}