h1
{
	font-size: 350%;
}
body
{
	background: black;
}
::selection {
  background: #f46607; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #f46607; /* Gecko Browsers */
}
#top
{
	font-family: 'Quicksand', sans-serif;
	background: 
	linear-gradient(
      rgba(1, 1, 1, 0.5), 
      rgba(1, 1, 1, 0.5)
    ),
    url(imgs/world.jpg) no-repeat fixed center;

	width: 100%;
	height: calc(100vh - 70px);
	background-color: black;
	color: white;
}
#profilePic
{
	position: absolute;
   	top: 40%;
   	left: 50%;
	width: 30vmin;
	margin-top: -15vmin; 
   	margin-left: -15vmin; 
}
#name
{
	position: absolute;
   	top: 70%;
   	left: 50%;
	width: 30vmin;
	margin-top: -15vmin; 
   	margin-left: -15vmin; 
}
.customSlide
{
	width: 100%;
	height: 60vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	z-index: 5;
}
.l0
{
	font-family: 'Quicksand', sans-serif;
	font-size: 175%;
	letter-spacing: 5px;
	padding: 7px 0px 0px 12px;
	z-index: 50;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	line-height: 25px;
}
.l1
{
	z-index: 40;
}
.l2
{
	z-index: 30;
}
.l3
{
	z-index: 20;
}
.headerPlaceholder
{
	width: 100%;
	height: 70px;
	z-index: 0;
	background-color: white;
}
#header0
{
	color: #f5fff5;
	position: absolute;
	top: 0vh;
	left: 0%;
	width: 25%;
	height: 70px;
	background: #f46607;
}
#header1
{
	color: #f46607;
	position: absolute;
	top: 0vh;
	left: 25%;
	width: 25%;
	height: 70px;
	background: #f5fff5;
}
#header2
{
	color: #f5fff5;
	position: absolute;
	top: 0vh;
	left: 50%;
	width: 25%;
	height: 70px;
	background: #f46607;
}
#header3
{
	color: #f46607;
	position: absolute;
	top: 0vh;
	left: 75%;
	width: 25%;
	height: 70px;
	background: #f5fff5;
}
#h1l1
{
	position: absolute;
	top: 0vh;
	left: 0%;
	width: 25%;
	height: 70px;
	background: #f5fff5;
}
#h0l1
{
	position: absolute;
	top: 0vh;
	left: 25%;
	width: 75%;
	height: 70px;
	background: #f5fff5;
}
#h2l2
{
	position: absolute;
	top: 0vh;
	left: 0%;
	width: 50%;
	height: 70px;
	background: #f46607;
}
#h1l2
{
	position: absolute;
	top: 0vh;
	left: 50%;
	width: 50%;
	height: 70px;
	background: #f46607;
}
#h3l3
{
	position: absolute;
	top: 0vh;
	left: 0%;
	width: 75%;
	height: 70px;
	background: #f5fff5;
}
#h2l3
{
	position: absolute;
	top: 0vh;
	left: 75%;
	width: 25%;
	height: 70px;
	background: #f5fff5;
}
#test
{
	width:100%;
	height:100vh;
}
#bot
{
	color: #f5fff5;
	background: #f46607;
	height: 45vh;
}
#ttm
{
	font-size: 80px;
}
#carousel1
{
	background-color: black;
	font-family: 'Quicksand', sans-serif;
}
#carousel2
{
	background-color: black;
	font-family: 'Quicksand', sans-serif;
}
#carousel3
{
	background-color: black;
	font-family: 'Caveat', cursive;
}
#kittens
{
	color: white;
}